<div class="d-flex justify-content-center flex-wrap p-1">

  <div
    *ngFor="let item of arrProductos"
    class="card m-1 btn btn-light p-0"
    style="width: 10rem"
    (click)="Seleccionar(item)"
    [class.bg-primary]="item == producto"
  >
    <div class="card-img-top bg bg-dark py-2"></div>
    <div class="card-body">
      <h5 class="card-title">{{item.nombre}}</h5>
      <p class="card-text">DOP$ {{item.precio | number}}</p>
      <div class="text-center">
      
        <button
          *ngIf="item == producto"
          class="btn btn-danger"
          (click)="EliminarProducto(item)"
        >
          <i class="bi bi-trash3"></i>
        </button>
        
      </div>
    </div>
  </div>

  <!-- <div
    *ngIf="arrProductos.length % 2 == 1"
    class="m-1"
    style="width: 10rem"
  ></div> -->

</div>