<div class="d-flex justify-content-center flex-wrap p-1">

  <div class="card m-1" style="width: 10rem">
    <div class="card-img-top bg bg-dark py-2"></div>
    <div class="card-body">
      <h5 class="card-title">Laptop Dell</h5>
      <p class="card-text">DOP$ 27,000.00</p>
      <div class="text-center">
        <button class="btn btn-danger">
          <i class="bi bi-trash3"></i>
        </button>
        <span class="mx-1"></span>
        <button class="btn btn-success">
          <i class="bi bi-check-circle"></i>
        </button>
      </div>
    </div>
  </div>


  <div class="card m-1" style="width: 10rem">
    <div class="card-img-top bg bg-dark py-2"></div>
    <div class="card-body">
      <h5 class="card-title">Laptop Dell</h5>
      <p class="card-text">DOP$ 27,000.00</p>
      <div class="text-center">
        <button class="btn btn-danger">
          <i class="bi bi-trash3"></i>
        </button>
        <span class="mx-1"></span>
        <button class="btn btn-success">
          <i class="bi bi-check-circle"></i>
        </button>
      </div>
    </div>
  </div>


  <div class="card m-1" style="width: 10rem">
    <div class="card-img-top bg bg-dark py-2"></div>
    <div class="card-body">
      <h5 class="card-title">Laptop Dell</h5>
      <p class="card-text">DOP$ 27,000.00</p>
      <div class="text-center">
        <button class="btn btn-danger">
          <i class="bi bi-trash3"></i>
        </button>
        <span class="mx-1"></span>
        <button class="btn btn-success">
          <i class="bi bi-check-circle"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="m-1" style="width: 10rem">ng if</div>

</div>