<form
  action=""
  class="mb-3"
>

  <h5 class="text-center">Agregar Producto:</h5>

  <input
    type="text"
    class="form-control"
    placeholder="Nombre del producto"
  />

  <div class="my-2"></div>

  <input
    type="number"
    class="form-control"
    placeholder="Precio del producto"
  />

  <div class="my-2"></div>

  <div class="text-center">
    <button class="btn btn-dark form-control">
      <i class="bi bi-plus mx-1"></i>
      <span>Agregar</span>
    </button>
  </div>

</form>