<form
  (ngSubmit)="AgregarProducto()"
  action=""
  class="mb-3"
>

  <h5
    *ngIf="producto.idProducto![0] != '-'"
    class="text-center"
  >Nuevo Producto:</h5>
  <h5
    *ngIf="producto.idProducto != '' "
    class="text-center"
  >Editar Producto:</h5>

  <input
    type="text"
    class="form-control"
    placeholder="Nombre del producto"
    name="nombre"
    [(ngModel)]="producto.nombre"
  />

  <div class="my-2"></div>

  <input
    type="number"
    class="form-control"
    placeholder="Precio del producto"
    name="precio"
    [(ngModel)]="producto.precio"
  />

  <div class="my-2"></div>

  <div class="text-center">

    <button
      *ngIf="producto.idProducto![0] != '-'"
      type="submit"
      class="btn btn-dark form-control"
    >
      <i class="bi bi-plus"></i>
      Agregar
    </button>

    <button
      *ngIf="producto.idProducto != ''"
      type="submit"
      class="btn btn-success form-control"
    >
      <i class="bi bi-pencil"></i>
      Guadar
    </button>
  </div>

</form>